<!DOCTYPE html>
<html>
<head>
    <title>Advanced Demo</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="badie.js"></script>
    <script src="demo.js"></script>
    <link rel="stylesheet" href="demo.css" />
</head>
<body ng-app="demo" ng-controller="DemoCtrl">

    <div class="box" style="width:500px">
        <input type="text" style="width:60px" ng-model="itemsper" /> items per list ({{itemsper * 5 * 6}} total items)
        <button ng-click="reload()">Load</button>
    </div> <br /><br />

    <div class="section" ng-repeat="mp in mealperiods">
        <div class="header" ng-click="mp.collapse=!mp.collapse" title="collapse">{{::mp.name}}</div>
        <div class="section" ng-if="!mp.collapse" ng-repeat="st in mp.stations">
            <div class="header" ng-click="st.collapse=!st.collapse" title="collapse">{{::st.name}}</div>
            <div class="container" ng-if="!st.collapse" ng-repeat="day in st.days">
                {{'day' + $index}}
                <div class="boxwrapper" ng-repeat="item in day track by item.id" ya-sort="sortoptions">
                    <div class="box">
                        <span title="context" ng-click="showContext($event, item, this)">▼</span>
                        <span title="expand" ng-if="item.sub" ng-click="item.exp=!item.exp">⇅</span>
                        <span class="handle">☰</span>{{::item.name}}
                        <div class="context" ng-if="item.context">
                            <div ng-if="!item.sub" ng-click="makeCombo(item)">make combo</div>
                            <div>edit</div>
                            <div ng-click="makeCopy(item, day)">copy</div>
                            <div ng-click="removeItem(item, day)">delete</div>
                        </div>
                        <div ng-if="item.exp">
                            <div class="boxwrapper">
                                <div class="box">{{::item.sub[0].name}}</div>
                            </div>
                            <div class="boxwrapper" ya-sort="sortoptions" ng-repeat="subi in item.sub | notfirst track by subi.id">
                                <div class="box">
                                    <span title="context" ng-click="showContext($event, subi, this)">▼</span>
                                    <span class="handle">☰</span>{{::subi.name}}
                                    <div class="context" ng-if="subi.context">
                                        <div>edit</div>
                                        <div ng-click="makeCopy(subi, item.sub)">copy</div>
                                        <div ng-click="removeItem(subi, item.sub)">delete</div>
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="boxwrapper">
                    <div class="box" ng-click="addItem(day, $index)">+add</div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
