<!DOCTYPE html>
<html>
<head>
    <title>Multiple Lists</title>
    <link href="list.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="../yaHTML5Sort.js"></script>
    <script src="multi.js"></script>
</head>
<body>
    <div ng-app="demo">
    <div ng-controller="ctrl1">
        <H1>Compatible Lists</H1>
        <div class="container">
            <div class="header coral">{{models[0].name}}</div>
            <ul>
                <li ng-repeat="item in models[0].items track by item.id" ya-sort="options">{{item.name}}</li>
            </ul>
        </div>
        <div class="container">
            <div class="header coral">{{models[1].name}}</div>
            <ul>
                <li ng-repeat="item in models[1].items track by item.id" ya-sort="options">{{item.name}}</li>
            </ul>
        </div>
        <div class="container" style="background:gray;border-color:gray">
            <div class="header">Json model</div>
            <pre>{{json}}</pre>
        </div>
    </div>
    <div ng-controller="ctrl2">
        <H1>Incompatible Lists</H1>
        <div class="container">
            <div class="header coral">{{models[0].name}}</div>
            <ul>
                <li ng-repeat="item in models[0].items track by item.id" ya-sort="options">{{item.name}}</li>
            </ul>
        </div>
        <div class="container" style="border-color:cornflowerblue">
            <div class="header" style="background:cornflowerblue">{{models[1].name}}</div>
            <ul>
                <li ng-repeat="item in models[1].items track by item.id" ya-sort="options">{{item.name}}</li>
            </ul>
        </div>
        <div class="container" style="background:gray;border-color:gray">
            <div class="header">Json model</div>
            <pre>{{json}}</pre>
        </div>
    </div>
    <div ng-controller="ctrl3">
        <H1>One-way Lists</H1>
        <div class="container">
            <div class="header coral">{{models[0].name}}</div>
            <ul>
                <li ng-repeat="item in models[0].items track by item.id" ya-sort="options">{{item.name}}</li>
            </ul>
        </div>
        <div class="container" style="border-color:cornflowerblue">
            <div class="header" style="background:cornflowerblue">{{models[1].name}}</div>
            <ul>
                <li ng-repeat="item in models[1].items track by item.id" ya-sort="options">{{item.name}}</li>
            </ul>
        </div>
        <div class="container" style="background:gray;border-color:gray">
            <div class="header">Json model</div>
            <pre>{{json}}</pre>
        </div>
    </div>
    <div ng-controller="ctrl4">
        <H1>Mirrored List</H1>
        <div class="container">
            <div class="header coral">List A</div>
            <ul>
                <li ng-repeat="item in model track by item.id" ya-sort="options">{{item.name}}</li>
            </ul>
        </div>
        <div class="container">
            <div class="header coral">List A</div>
            <ul>
                <li ng-repeat="item in model track by item.id">{{item.name}}</li>
            </ul>
        </div>
        <div class="container" style="background:gray;border-color:gray">
            <div class="header">Json model</div>
            <pre>{{json}}</pre>
        </div>
    </div>
    <div ng-controller="ctrl5">
        <H1>Lists on Isolated Scopes (nested under parent ng-repeat)</H1>
        <div class="container" ng-repeat="model in models">
            <div class="header coral">{{model.name}}</div>
            <ul>
                <li ng-repeat="item in model.items track by item.id" ya-sort="options">{{item.name}}</li>
            </ul>
            <div class="container" style="background:gray;border-color:gray">
                <div class="header">Json model</div>
                <pre>{{model.items | json}}</pre>
            </div>
        </div>
    </div>
    <div>
        <H1>Lists on Isolated Scopes (in separate controllers)</H1>
        <div class="container" ng-controller="ctrl6">
            <div class="header coral">List A</div>
            <ul>
                <li ng-repeat="item in model.items track by item.id" ya-sort="options">{{item.name}}</li>
            </ul>
            <div class="container" style="background:gray;border-color:gray">
                <div class="header">Json model</div>
                <pre>{{model.items | json}}</pre>
            </div>
        </div>
        <div class="container" ng-controller="ctrl7">
            <div class="header coral">List B</div>
            <ul>
                <li ng-repeat="item in model.items track by item.id" ya-sort="options">{{item.name}}</li>
            </ul>
            <div class="container" style="background:gray;border-color:gray">
                <div class="header">Json model</div>
                <pre>{{model.items | json}}</pre>
            </div>
        </div>
    </div>
</div>
<div>
    <H1>Lists on Isolated Scopes (in separate modules)</H1>
    <div id="c8" class="container" ng-controller="ctrl8">
        <div class="header coral">List A</div>
        <ul>
            <li ng-repeat="item in model.items track by item.id" ya-sort="options">{{item.name}}</li>
        </ul>
        <div class="container" style="background:gray;border-color:gray">
            <div class="header">Json model</div>
            <pre>{{model.items | json}}</pre>
        </div>
    </div>
    <div id="c9" class="container" ng-controller="ctrl9">
        <div class="header coral">List B</div>
        <ul>
            <li ng-repeat="item in model.items track by item.id" ya-sort="options">{{item.name}}</li>
        </ul>
        <div class="container" style="background:gray;border-color:gray">
            <div class="header">Json model</div>
            <pre>{{model.items | json}}</pre>
        </div>
    </div>
</div>
        
</body>
</html>