<!DOCTYPE html>
<html>
<head>
    <title>Nested Lists</title>
    <link href="list.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="../yaHTML5Sort.js"></script>
    <script src="nested.js">
    </script>
</head>
<body ng-app="demo">
    <script type="text/ng-template" id="item">
        <span ng-if="!parent.sub">{{ parent.name }}</span>
        <div class="container" style="border-color:cornflowerblue" ng-if="parent.sub">
            <div class="header" style="background:cornflowerblue">{{parent.sub.name}}</div>
            <ul>
                <li ng-repeat="child in parent.sub.items" ng-include="'item'" ng-init="parent=child" ya-sort="options"></li>
            </ul>
        </div>
    </script>

    <div ng-controller="ctrl1">
        <H1>Nested Lists</H1>
        <div class="container">
            <div class="header coral">{{models[0].name}}</div>
            <ul>
                <li ng-repeat="item in models[0].items track by item.id" ya-sort="options" ng-include="'item'" ng-init="parent=item"></li>
            </ul>
        </div>
        <div class="container">
            <div class="header coral">{{models[1].name}}</div>
            <ul>
                <li ng-repeat="item in models[1].items track by item.id" ya-sort="options" ng-include="'item'" ng-init="parent=item"></li>
            </ul>
        </div>
        <div class="container" style="background:gray;border-color:gray">
            <div class="header">Json model</div>
            <pre>{{json}}</pre>
        </div>
    </div>
</body>
</html>