<!DOCTYPE html>
<html>
<head>
    <title>Static Items in List</title>
    <link href="list.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="../yaHTML5Sort.js"></script>
    <script src="static.js"></script>
</head>
<body ng-app="demo">
    <div ng-controller="ctrl1">
        <H1>Static items in list</H1>
        <div class="container">
            <div class="header coral">{{models[0].name}}</div>
            <ul>
                <li>I am static, ng repeat below</li>
                <li ng-repeat="item in models[0].items track by item.id" ya-sort="options">{{item.name}}</li>
            </ul>
        </div>
        <div class="container">
            <div class="header coral">{{models[1].name}}</div>
            <ul>
                <li>I am static</li>
                <li>I am static, ng repeat below</li>
                <li ng-repeat="item in models[1].items track by item.id" ya-sort="options2">{{item.name}}</li>
                <li>I am static, ng repeat above</li>
                <li>I am static</li>
                <li>I am static</li>
            </ul>
        </div>
        <div class="container" style="background:gray;border-color:gray">
            <div class="header">Json model</div>
            <pre>{{json}}</pre>
        </div>
    </div>
    <div ng-controller="ctrl2" ng-if="false">
        <H1>Mutliple ng repeat separated by static item</H1>
        <div class="container">
            <div class="header coral">{{models[0].name}}</div>
            <ul>
                <li>I am static, ng repeat below</li>
                <li ng-repeat="item in models[0].items track by item.id" ya-sort="options">{{item.name}}</li>
                <li>I am static, ng repeat above and below</li>
                <li ng-repeat="item in models[1].items track by item.id" ya-sort="options">{{item.name}}</li>
            </ul>
        </div>
        <div class="container">
            <div class="header coral">{{models[1].name}}</div>
            <ul>
                <li ng-repeat="item in models[2].items track by item.id" ya-sort="options">{{item.name}}</li>
                <li>I am static, ng repeat above and below</li>
                <li ng-repeat="item in models[3].items track by item.id" ya-sort="options">{{item.name}}</li>
            </ul>
        </div>
        <div class="container" style="background:gray;border-color:gray">
            <div class="header">Json model</div>
            <pre>{{json}}</pre>
        </div>
    </div>
</body>
</html>