<!DOCTYPE html>
<html>
<head>
    <link href="list.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="../yaHTML5Sort.js"></script>
    <script type="text/javascript">
        console.clear()
        angular.module('demo', ['yaHTML5Sort'])
        .controller('ctrl2', ['$scope', function ($scope) {

            $scope.model = [];

            for (var i = 1; i <= 3; i++) {
                $scope.model.push({ id: Math.random(), name: "Item A " + i });
            }

            $scope.options = {
                dropPlaceholderClass: 'placeholder1',
            };

            $scope.$watch('model', function (model) {
                $scope.json = angular.toJson(model, true);
            }, true);

        }])
        .controller('ctrl3', ['$scope', function ($scope) {

            $scope.model = [];

            for (var i = 1; i <= 3; i++) {
                $scope.model.push({ id: Math.random(), name: "Item A " + i });
            }

            $scope.options = {
                dropPlaceholderClass: 'placeholder',
                dragHandleClass: 'handle'
            };

            $scope.$watch('model', function (model) {
                $scope.json = angular.toJson(model, true);
            }, true);

        }])
        .controller('ctrl4', ['$scope', function ($scope) {

            $scope.model = [];

            for (var i = 1; i <= 3; i++) {
                $scope.model.push({ id: Math.random(), name: "Item A " + i });
            }

            $scope.options = {
                dropPlaceholderClass: 'placeholder',
                dragSourceItemClass: 'source'
            };

            $scope.$watch('model', function (model) {
                $scope.json = angular.toJson(model, true);
            }, true);

        }])
         .controller('ctrl5', ['$scope', function ($scope) {

             $scope.model = [];

             for (var i = 1; i <= 3; i++) {
                 $scope.model.push({ id: Math.random(), name: "Item A " + i });
             }

             $scope.options = {
                 dropPlaceholderClass: 'placeholder',
                 dragItemClass: 'dragitem'
             };

             $scope.$watch('model', function (model) {
                 $scope.json = angular.toJson(model, true);
             }, true);

         }])
        .controller('ctrl6', ['$scope', function ($scope) {

            $scope.model = [];

            for (var i = 1; i <= 3; i++) {
                $scope.model.push({ id: Math.random(), name: "Item A " + i });
            }

            $scope.options = {
                dropPlaceholderClass: 'placeholder',
                onreplace: function() {},
                dropHoverItemClass: 'drophover'
            };

            $scope.$watch('model', function (model) {
                $scope.json = angular.toJson(model, true);
            }, true);

        }]);
    </script>
</head>
<body ng-app="demo">
    <div ng-controller="ctrl2">
        <H1>Drop Placeholder style</H1>
        <div class="container">
            <div class="header coral">List A</div>
            <ul>
                <li ng-repeat="item in model track by item.id" ya-sort="options">{{item.name}}</li>
            </ul>
        </div>
        <div class="container" style="background:gray;border-color:gray">
            <div class="header">Json model</div>
            <pre>{{json}}</pre>
        </div>
    </div>
    <div ng-controller="ctrl3">
        <H1>Drag Handles</H1>
        <div class="container">
            <div class="header coral">List A</div>
            <ul>
                <li ng-repeat="item in model track by item.id" ya-sort="options"><span class="handle">☰</span>{{item.name}}</li>
            </ul>
        </div>
        <div class="container" style="background:gray;border-color:gray">
            <div class="header">Json model</div>
            <pre>{{json}}</pre>
        </div>
    </div>
    <div ng-controller="ctrl4">
        <H1>Drag source style</H1>
        <div class="container">
            <div class="header coral">List A</div>
            <ul>
                <li ng-repeat="item in model track by item.id" ya-sort="options">{{item.name}}</li>
            </ul>
        </div>
        <div class="container" style="background:gray;border-color:gray">
            <div class="header">Json model</div>
            <pre>{{json}}</pre>
        </div>
    </div>
    <div ng-controller="ctrl5">
        <H1>Drag item style</H1>
        <div class="container">
            <div class="header coral">List A</div>
            <ul>
                <li ng-repeat="item in model track by item.id" ya-sort="options">{{item.name}}</li>
            </ul>
        </div>
        <div class="container" style="background:gray;border-color:gray">
            <div class="header">Json model</div>
            <pre>{{json}}</pre>
        </div>
    </div>
    <div ng-controller="ctrl6">
        <H1>Drop hover style (placeholder and shift+drag)</H1>
        <div class="container">
            <div class="header coral">List A</div>
            <ul>
                <li ng-repeat="item in model track by item.id" ya-sort="options">{{item.name}}</li>
            </ul>
        </div>
        <div class="container" style="background:gray;border-color:gray">
            <div class="header">Json model</div>
            <pre>{{json}}</pre>
        </div>
    </div>
</body>
</html>